body {
background-color: black;
font-family: Arial, Helvetica, sans-serif;
margin: 0;
color: white;
}

p{
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
}
.font1 {
    font-size: 90px;
}
nav {
    width: 98vw;
    background-color: #2e2e2e;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}
li {
    list-style-type: none;
    float: left;
}
li a {
    display: inline-block;
    text-align: center;
    padding: 1.2vw;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
li button {
    display: inline-block;
    text-align: center;
    padding: 1.2vw;
    border: none;
    text-decoration: none;
    color: white;
    background-color:#2e2e2e;
    font-family: Arial, Helvetica, sans-serif;
}
li button:hover {
    background-color: black;
}
li a:hover {
    background-color: black;
}
.navbutton1 {
display: none;
}
@media only screen and (max-width: 1024px) {
    ul {
        flex-direction: column;
    }
    li {
        margin: 0;
    }

a {
    display: block;
}

.navbutton1 {
display: block;
padding: 2vw;
font-size: 10px;
background-color: #2e2e2e;
border: none;
outline: none;
cursor: pointer;
align-self: flex-start;
}
}
.toilet1 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.bottom-line-1 {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(49, 49, 49);
}
.space-1 {
    margin-top: 5%;
}
.space-2{
    margin-top: 6%;
}
.parallax {
    background-image: url('../images/toilet1.png');
    height: 130%;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallaxHeader {
    
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        display:block;
        font-size: 250%;
        background-color: grey;
        padding: 50px;
        
    
}
.toilet2 {
    width: 35%;
    height: auto;
    display: flex;
   margin-left: 2%;
    box-align: left;
    float: left;
 padding: 0 10px 0 0;
}
.invisiblebox {
    margin-top: 30%;
    margin-bottom: auto;
}
.invisiblebox2 {
    margin-top: 10%;
    margin-bottom: auto;
}
.m1 {

    width:30%;
    height:auto;
    display: flex;
    box-align: right;
    float: right;
}

.m1details {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.font2 {
    margin-top: 10%;
    font-size: 180%;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: normal;
}
.font3 {
    font-size: 70px;
}

.font4 {
    font-size: 180%;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 3%;
}

footer {
    text-align: center;
    margin-right: auto;
    padding: 3px;
    background-color: grey;
    position: relative;
    top: 100%;
    float: none;
}
.lightmode {
    color: black;
    background-color: white;
}

