body {
background-color: black;
font-family: Arial, Helvetica, sans-serif;
margin: 0;
}
h1 {
color: white;
}
.font1 {
    font-size: 70px;
    color: white;
}
nav {
    width: 100vw;
    background-color: #2e2e2e;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}
li {
    list-style-type: none;
    float: left;
}
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1.2vw;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
li a:hover {
    background-color: black;
}
.navbutton1 {
display: none;
}
@media only screen and (max-width: 500px) {
    ul {
        flex-direction: column;
    }
    li {
        margin: 0;
    }

a {
    display: block;
}

.navbutton1 {
display: block;
padding: 2vw;
font-size: 10px;
background-color: #2e2e2e;
border: none;
outline: none;
cursor: pointer;
align-self: flex-start;
}
}
.toilet1 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}