body {
background-color: black;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2e2e2e;
}
li {
    float: left;
}
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}
li a:hover {
    background-color: black;
}